/* Fonts */
@font-face {
  font-family: "Amble-Bold";
  src: url("../fonts/Amble-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Amble-Regular";
  src: url("../fonts/Amble-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --theme-hue: invert(1) saturate(0) contrast(2);
  --theme-hue-norm: saturate(0);
  --theme-hue-map: hue-rotate(285deg);
  --theme-value: #ae00ff;
  --theme-value-dark: #7c02b5;
  --theme-value-light: #c038ff;
  --theme-text: #fff;

  margin: 0px;
  padding: 0px;
  background: var(--theme-value);
  font-family: "Amble-Regular", Arial;
  color: var(--theme-text);
}
