body {
  --theme-glow: #000;
  --theme-borders: var(--theme-value);
}

header h1 {
  width: 100%;
  background: var(--theme-value-dark);
  margin: 0 0 25px 0;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 0 4px 0px var(--theme-value-light);
}
header .back-btn {
  background: transparent;
  border: none;
  margin: 20px 10px;
  position: absolute;
  transition: transform 150ms ease-in-out;
  filter: var(--theme-hue);
}
header .back-btn:hover {
  transform: scale(1.15);
}
header .back-btn img {
  width: 75%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: max-content;
  max-width: 75%;
  height: 100%;
  background: var(--theme-value-dark);
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 25px;
  box-shadow: 0 4px 0px var(--theme-value-light);
}
h2 {
  border-bottom: solid 4px var(--theme-value);
  margin: 5px;
}
.content-holder {
  display: flex;
  height: 100%;
  background: var(--theme-value-dark);
  border-radius: 10px;
  padding-top: 15px;
}

.content-holder .profile-pic {
  display: flex;
  align-items: center;
}
.content-holder .profile-pic img {
  width: 9vw;
  border-radius: 8px;
  margin: 0 10px;
}
.content-holder .profile-pic button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 10px 0;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 12px;
  border: none;
  background: #fff;
  font-size: large;
  font-weight: bold;
  font-family: "Amble-Bold", Arial;
  transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
  filter: var(--theme-button-filter);
}
.content-holder .profile-pic button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 3.5px var(--theme-value);
}
.content-holder .profile-pic button img {
  filter: brightness(0);
  width: 10%;
  border-radius: 0;
  margin-left: 0;
}
.content-holder .profile-pic input {
  display: none;
}

.editable-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.editable-field .edit {
  background: none;
  border: none;
  margin-right: 10px;
  transition: transform 150ms ease-in-out;
}
.editable-field .edit:hover {
  transform: scale(1.1) rotate(-15deg);
}
.editable-field .edit img {
  cursor: pointer;
  width: 25px;
  height: 25px;
  filter: var(--theme-hue);
}
.editable-field input,
.editable-field textarea,
.content-holder select,
.content-holder input {
  border-radius: 8px;
  border: solid 2.5px var(--theme-borders);
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 100%;
  font-family: "Amble", Arial;
  background: linear-gradient(165deg, #fff, #e5e5e5);
}
.editable-field textarea {
  min-width: 15vw;
  max-width: 60vw;
  min-height: 20px;
  max-height: 200px;
}

.content-holder select {
  margin-left: 5px;
  margin-right: 15px;
}
.content-holder .program-select {
  text-align: center;
  width: 20vw;
}

.content-holder .theme-btn {
  margin: 0 10px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: inset 0 0 0 3.5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 150ms ease-in-out;
  font-weight: bold;
  font-family: Arial;
}
.content-holder .theme-btn:hover {
  box-shadow: inset 0 0 0 3.5px rgba(0, 0, 0, 0.3), 0 0 10px var(--theme-glow);
}
.content-holder .theme-btn[selected="true"] {
  border: rgba(255, 255, 255, 0.5) solid 3px;
}

.account-nav {
  display: flex;
}
.account-nav button {
  border-radius: 12px;
  padding: 15px 25px;
  margin: 0 10px 25px 10px;
  background: #fff;
  color: #000;
  border: none;
  font-size: large;
  font-weight: bold;
  font-family: "Amber-Bold", Arial;
  filter: var(--theme-button-filter);
  cursor: pointer;
  pointer-events: all;
  transition: transform 150ms ease-in-out, margin 150ms ease-in-out,
    opacity 250ms ease-in-out;
}
.account-nav button[blocked="true"] {
  opacity: 0.5;
}
.account-nav button[blocked="false"]:hover {
  transform: scale(1.1);
  margin: 0 15px 25px 15px;
}
