/* Fonts */
@font-face {
  font-family: "Amble-Bold";
  src: url("../../fonts/Amble-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Amble-Regular";
  src: url("../../fonts/Amble-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --theme-hue: hue-rotate(250deg) brightness(25%);
  --theme-hue-norm: hue-rotate(250deg);
  --theme-value: #6200ff;
  --theme-value-dark: #2a006e;
  --theme-text: #fff;

  margin: 0px;
  padding: 0px;
  background-color: var(--theme-value);
  font-family: "Amble-Regular", Arial;
  color: var(--theme-text);
}
